body {
  background-color: #fbfbfb;
}

@media (min-width: 991.98px) {
  main {
    padding-left: 240px;
  }
}

/* Sidebar */
.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  padding: 58px 0 0; /* Height of navbar */
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 5%), 0 2px 10px 0 rgb(0 0 0 / 5%);
  width: 240px;
  z-index: 600;
}

@media (max-width: 991.98px) {
  .sidebar {
    width: 100%;
  }
}
.sidebar .active {
  border-radius: 5px;
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: 0.5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

.bg-telemed{
  background: #3E6E8C;
}

.prifileNavBd{
  background-image: linear-gradient(to right,#e7f7fa,#d8edf1);
}

.sideNavBg{
  background-image: linear-gradient(to top,#e7f7fa,#d8edf1);
}

.active_nav_underline{
  color:#3E6E8C;
  border-bottom: 2px solid #333;
}

.link-telemed{
  color: #3E6E8C;
  padding: 3rem;
}

.dashBox{
  width: 7rem;
  height: 7rem;
  text-align: center;
  margin: auto;
  transition: transform .2s;
}

.dashBox:hover{
  transform: scale(1.15);
}

/* Bootsrap Customization */
.btn {
  text-transform: unset !important;
}

.page-item.active .page-link {
  background-color: #3E6E8C !important;
  border: 1px solid #3E6E8C;;
}
